{
  "env": {
      "node": true,
      "es6": true,
      "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly",
      "$_GetPlatformVars": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": 2
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}